@font-face
  font-style: normal
  font-family: "Meslo LG"
  src: local("Meslo LG S"), url("../fonts/MesloLGS-Regular.ttf") format("truetype")

@font-face
  font-style: normal
  font-family: "Source Han Sans SC"
  src: url("../fonts/SourceHanSansSC-Regular.otf")

@font-face
  font-style: normal
  font-family: "Menlo"
  src: url("../fonts/Menlo-Regular.ttf") format("truetype")
